/* *****SECTION STYLING********** */
.about {
    padding: 80px;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    content: "Who I am";
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

.about-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.left img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
}

/* .left img::after {
    content: 'Hello';
    width: 100px;
    height: 100px;
    color: blue;
    display: block;
} */

.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right button{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    border-style: none;
}
.about .about-content .right button:hover{
    color: crimson;
    background: none;
    border: 2px solid #0f3460;
}