/* *******HOME SECTION STYLING********* */
.home {
    display: flex;
    background: url(./images/bg-img.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    color: rgba(2, 0, 0, 0.918);
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -8px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-size: 50px;
    font-weight: 500;
}
